<h1>Foodtrucks</h1>
<div class="food-truck-container">
  <div id="wrapper">
    <div
      id="map"
      phx-hook="FoodTruckMap"
      data-select-point={Jason.encode!(hd(@food_trucks))}
      data-food-trucks={Jason.encode!(@food_trucks)}
    >
    </div>
  </div>
</div>
