@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
#map {
    height: 90vh;
    width: 80vw;
}

.food-truck-container {
    display: inline-flex;
    padding: 16px;
}

.list {
    overflow-y: scroll;
    height: 70vh;
}